<!DOCTYPE html >
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <!-- Responsavel por receber configurações da página -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
        <title>{{titleValue}}</title>
    </head>
    <body id="{{bodyId}}">

        <!-- <h1>{{title}}</h1> maneira de passar variaveis com o nunjucks!--> 
        <div id="container">    
            {% block content %}
            {% endblock %}
        </div>

        <!--modal-->
        {% include "modal.html" %}
    
    </body>

    <script src="/main.js"></script>
</html>